<% @users.each do |user| %>
<div id="user_header_hr">
<hr> 
</div>
<div id="user_badge">
  <div id="user_badge_gravatar">
  	<%= gravatar_for user %>
  </div>  
  <div id="user_badge_details">
  	<%=h user.name %>
    	<%=h user.email %>
  </div>
<div id="user_badge_details_right">
  <%= link_to 'Show', user %>
  <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
</div>
</div>
<% end %>

<br />
<div id="user_header_hr">
<hr>
</div>
<%= link_to 'New user', new_user_path %>
