<%= stylesheet_link_tag 'posts_index', :media => 'screen' %>
<!--<h1>Listing posts</h1>-->


<!--
  <tr>
    <th>Title</th>
    <th>Subject</th>
    <th>Body</th>
    <th>Body bg img</th>
    <th>User</th>
  </tr>
-->
<% @posts.each do |post| %>


<div id="list_post">
  <div id="list_post_background">
  </div>
  <div id="list_post_gravatar">
	<%= gravatar_for post.user %>
	<!--<p class="list_post_user_name"><%= post.user.name %></p>-->
  </div>
  <div id="list_post_title">
  	<h4 class="list_post_title" id="list_post_title_text"><%=h post.title %><br></h4>
  </div> 
  <div id="list_post_body">
    	<p><%=h post.body %></p>
    	<!--<%=h post.body_bg_img %>
	<%=h post.subject %>
	<%=h post.user_id %> -->
  </div>	
  <div id="list_post_actions">
    	<%= link_to 'Show', post %>
    	<%= link_to 'Edit', edit_post_path(post) %>
	<%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
	<%= link_to 'New post', new_post_path %>
  </div>
</div>
<% end %>
<br />


