<%= stylesheet_link_tag 'posts_index', :media => 'screen' %>

<!--BEGIN POSTS INLINE NAVIGATION BAR-->
<div class="posts_inline_nav_bar">
<div class="button small orange">
<a href="/posts/">Posts</a> 
<%= will_paginate @posts %>
</div>	
</div>
<!--END POSTS INLINE NAVIGATION PAR-->

<!--BEGIN TAG BOX ON RIGHT HAND SIDE-->
<div class="right_box">
<div class="right_box_background"></div>
	<div id="tag_box_header">
	<p>tags</p>
	</div>
	<div id="right_box_content" class="tags">
	<% @tag_box_tags = Tag.find(:all) %>
	<% @tag_box_tags.each do |tag| %>
		<%= link_to tag.name %>
	<% end %>
	</div>
<div class="right_box_background"></div>
	<div id="right_box_content">
		<a id="tw_follow" href="http://twitter.com/kruken" title="follow me on twitter"><span></span></a>
		<a id="rss_follow" href="#nogo" title="subscribe to RSS feed"><span></span></a>
	</div>
<div class="right_box_background"></div>
	<div id="right_box_content">
	<p><%= page_entries_info @posts %></p>
	</div>
<div class="right_box_background"></div>
</div>

<!--END TAG BOX ON RIGHT HAND SIDE-->



<!--BEGIN POSTS LIST INDEX-->
<% @posts.each do |post| %>
<%link_to post_path(post) do %>	
<div id="list_post">
  <div id="list_post_background">
  </div>
  <div id="list_post_right">
	<span class="list_post_thumbnail"><center><%= image_tag post.image(:thumb) %></center></span>
	<span class="list_post_created"><center><%= time_ago_in_words(post.created_at) %> ago</center></span>
  </div> 
  <div id="list_post_body">
	<%link_to post_path(post) do %>		
	<span id="list_post_title" class="list_post_content">
	<%=h post.title %>
	<%end%>	
	</span>
	<span id="list_post_content" class="list_post_content">
	<%link_to post_path(post) do %>	
	<%=h post.subject %>
	<%end%>	
	</span>



	<span id="list_post_tags" class="list_post_content">
		<% @tags = post.tag_list %>
		<% @tags.each do |tag| %>
		<%= link_to tag  %>
		<%end%>
	</span>
	<%end%>
  </div>
	<!--div id="list_post_actions">
    	<%= link_to 'Show', post %>
    	<%= link_to 'Edit', edit_post_path(post) %>
	<%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
	</div>-->

</div>
<div id="list_post_social_bar">
<span class="list_post_fb_like">
<fb:like href=<%=h post_url(post)%> layout="button_count" show_faces="true" font=""></fb:like>
</span>
<span class="list_post_comment">
<iframe src="http://www.facebook.com/plugins/comments.php?href=<%=h post_url(post) %>&permalink=1" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:16px;" allowTransparency="true"></iframe></span>
<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
</span>
</div>
<%end %>
<!--BEGIN POSTS INLINE NAVIGATION BAR-->
<div class="posts_inline_nav_bar">
<div class="button small orange">
<%= will_paginate @posts %>
</div>	
</div>
<!--END POSTS INLINE NAVIGATION PAR-->
<!--END POSTS LIST INDEX-->
