<%= stylesheet_link_tag 'posts_show', :media => 'screen' %>
<script src="http://connect.facebook.net/en_US/all.js#appId=149043065159894&amp;xfbml=1"></script>

<!--BEGIN POSTS INLINE NAVIGATION BAR-->
<!-- <div class="posts_inline_nav_bar">
	<span class="posts_inline_nav_bar_left">
		<%= link_to 'Edit', edit_post_path(@post),:class => 'button small orange'  %>
		<%= link_to 'Back', posts_path,:class => 'button small orange'  %> 

	</span>
</div> -->
<!--END POSTS INLINE NAVIGATION BAR-->


<div id="show_post">
<div id="show_post_title" class="title">
<%=h @post.title %><fb:like href=<%=h post_url(@post)%> layout="button_count" show_faces="true" font=""></fb:like>
<span class="posts_inline_nav_bar_left">
	<%= link_to 'Edit', edit_post_path(@post),:class => 'button small orange'  %>
	<%= link_to 'Back', posts_path,:class => 'button small orange'  %> 
</span>
</div>
<div id="show_post_bg_image">
<%= image_tag @post.image.url(:post_image_box) %>
<div id="sharethis" >
<span class="st_email"></span><span class="st_facebook"></span><span class="st_twitter"></span><span class="st_sharethis" displayText="ShareThis"></span>
</div>
<div id="tag_box">
<div id="tag_box_background">
</div>
	<div id="tag_box_header">
	<p>tags</p>
	</div>
	<div id="tag_box_tags">
	<% @tag_box_tags = @post.tags.find(:all) %>
	<% @tag_box_tags.each do |tag| %>
		<%= link_to tag.name %>
	<% end %>
	</div>
</div>
</div>
<div id="post_show_header">
<div id="post_show_header_background"></div>
	 <div id="show_post_gravatar">
  	<% link_to user_path(@post.user) do %>
  	<%= gravatar_for @post.user %>
  	<% end %>
	</div>
<span class="post_created">posted <%= time_ago_in_words(@post.created_at) %> ago</span>
<p><i><%=h @post.subject %></i></p>
<!--<%= facebook_like %>-->
<fb:like href=<%=h post_url(@post)%> layout="button_count" show_faces="true" font=""></fb:like>
<!--
<a href="http://twitter.com/share" class="twitter-share-button" data-url=<%=h post_url(@post)%> data-count="horizontal" data-via="kruken">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
-->
</div>
<div id="post_show_header_background">
</div>
<div id="post_show_post">
<p>
  <%= @post.body %>
</p>
<div id="post_show_header_background"></div>
<div id="fb-root"></div><fb:comments href= <%=h post_url(@post) %> num_posts="10" width="600"></fb:comments>
<div class="posts_inline_nav_bar">
	<span class="posts_inline_nav_bar_left">
		<%= link_to 'Edit', edit_post_path(@post),:class => 'button small white'  %>
		<%= link_to 'Back', posts_path,:class => 'button small white'  %>
	</span> 
</div>
</div>
</div>
